CREDENTIALS_FILE = "your_sa_credential_file_path"
PROJECT_ID = "your_project_id"
SOURCE_PATH = "path_of_application_to_be_deployed"
REPOSITORY_ID = "repository_where_cf_image_be_located
APP_CONFIG_PROPS = {
    "spring.profiles.active" = "dev"
    "task-master.notification.enabled" = "false"
    "task-master.notification.consumer.channel" = "email"
    "task-master.notification.consumer.provider" = "mailchimp"
    "task-master.channel.email.mailchimp.url" = "https://mandrillapp.com"
    "task-master.channel.email.mailchimp.apiVersion" = "/api/1.0"
    "task-master.channel.email.mailchimp.basePath" = "$${task-master.channel.email.mailchimp.url}$${task-master.channel.email.mailchimp.apiVersion}"
    "task-master.channel.email.mailchimp.config.mergeLanguage" = "handlebars"
    "task-master.channel.email.mailchimp.from.email" = "your_email"
    "task-master.channel.email.mailchimp.from.name" = "your_name"
}
APP_CONFIG_SECRETS = {
    "TASK-MASTER_CHANNEL_EMAIL_MAILCHIMP_APIKEY" = "your_key"
}
RECIPIENT_EMAIL = "your_email"
RECIPIENT_NAME = "your_name"