# we are going to try and make use of string, list, map and set
Here's the value for mystring: ${mystring}

Now try to use a list
%{ for i in split(",", mylist) ~}
Here's a item: ${i}
%{ endfor }

Now let's try to use a map
%{ for key,value in zipmap(split(",", mapkeys), split(",", mapvalues)) ~}
key [${key}], value [${value}]
%{ endfor }

what about set ?
%{ for s in split(",", myset) ~}
Set element: ${s}
%{ endfor }