version=1.0.0
artifactory_contextUrl=${artifactory_contextUrl}
snapshot_repository_url=${snapshot_repository_url}
release_repository_url=${release_repository_url}
artifactory_user=${artifactory_user}
artifactory_password=${artifactory_password}