CREDENTIALS_FILE = "your_sa_credential_file_path"
PROJECT_ID = "your_project_id"
SOURCE_PATH = "path_of_application_to_be_deployed"
REPOSITORY_ID = "repository_where_cf_image_be_located
APP_CONFIG_PROPS = {
    "task-master.notification.enabled" = "false"
    "task-master.notification.template.provider" = "mailchimp|sendgrid"
    "task-master.channel.email.mailchimp.url" = "https://mandrillapp.com"
    "task-master.channel.email.mailchimp.apiVersion" = "/api/1.0"
    "task-master.channel.email.mailchimp.basePath" = "https://mandrillapp.com/api/1.0"
    "task-master.channel.email.mailchimp.config.mergeLanguage" = "handlebars"
    "task-master.channel.email.mailchimp.from.email" = "your_email"
    "task-master.channel.email.mailchimp.from.name" = "your_name"
    "task-master.channel.email.mailchimp.logger.level" = "NONE"

    "task-master.channel.email.sendgrid.url" = "https://api.sendgrid.com"
    "task-master.channel.email.sendgrid.apiVersion" = "/v3"
    "task-master.channel.email.sendgrid.basePath" = "https://api.sendgrid.com/v3"
    "task-master.channel.email.sendgrid.templateGeneration" = "dynamic"
    "task-master.channel.email.sendgrid.defaultSubject" = "default_subject"
    "task-master.channel.email.sendgrid.from.email" = "your_email"
    "task-master.channel.email.sendgrid.from.name" = "your_name"
    "task-master.channel.email.sendgrid.logger.level" = "NONE"

    "task-master.notification.template.storage.enabled" = "false"
    "task-master.notification.template.storage.projectId" = "project_id_where_templates_located"
    "task-master.notification.template.storage.locationId" = "storage_templates_locationId"

    "logbook.strategy" = "body-only-if-status-at-least"
    "logbook.minimum-status" = "400"
    "logbook.format.style" = "http"
    "logbook.write.chunk-size" = "1000"
    "logbook.predicate.include[0].path" = "/api/**"
    "logbook.predicate.include[0].methods[0]" = "GET"
    "logbook.predicate.include[0].methods[1]" = "POST"
    "logbook.predicate.include[1].path" = "/actuator/**"
    "logbook.predicate.exclude[0].path" = "/actuator/health"
    "logbook.predicate.exclude[1].path" = "/api/admin/**"
    "logbook.predicate.exclude[1].methods[0]" = "POST"
    "logbook.obfuscate.headers[0]" = "Authorization"
    "logbook.obfuscate.headers[1]" = "X-Secret"
    "logbook.obfuscate.parameters[0]" = "access_token"
    "logbook.obfuscate.parameters[1]" = "password"
    "logbook.obfuscate.jsonBodyFields[0]" = "key"
    "logbook.obfuscate.replacement" = "XXX"
}
APP_CONFIG_SECRETS = {
    "TASK-MASTER_CHANNEL_EMAIL_MAILCHIMP_APIKEY" = "your_mailchimp_apikey"
    "TASK-MASTER_CHANNEL_EMAIL_SENDGRID_APIKEY" = "your_sendgrid_apikey"
}
RECIPIENT_EMAIL = "your_email"
RECIPIENT_NAME = "your_name"