{
   "SERVER_PORT_SECURITY":5001,
   "SERVER_PORT_INVOICE":5002,
   "SERVER_PORT_PAY":5003,
   "SERVER_PORT_MOVEMENT":5004,
   "NODE_ENV":"development",
   "TOKEN_SECRET":"KeySecret#123Aforo255#255#NodeJSMicro",
   "TOKEN_EXPIRATION":"1d",
   "DB_POSTGRES_USER":"aforo255",
   "DB_POSTGRES_PASSWORD":"AVNS_j1pUNmfTjBWAXV30myZ",
   "DB_POSTGRES_DATABASE_INVOICE":"DB_INVOICE",
   "DB_POSTGRES_HOST":"${db_pg_host}",
   "DB_POSTGRES_PORT":${db_pg_port},
   "DB_POSTGRES_REJECTUNAUTHORIZED":false,
   "DB_POSTGRES_DIALECT":"postgres",
   "DB_MYSQL_USER":"aforo255",
   "DB_MYSQL_PASSWORD":"AVNS_ahxmv_vQ5CZ4djk1d_M",
   "DB_MYSQL_DATABASE_OPERATION":"DB_OPERATION",
   "DB_MYSQL_DATABASE_SECURITY":"DB_SECURITY",
   "DB_MYSQL_HOST":"${db_mysql_host}",
   "DB_MYSQL_PORT":${db_mysql_port},
   "DB_MONGO_URI":"mongodb+srv://aforo255:6GN2l758gP1TA94v@db-mongodb-and-04e91b83.mongo.ondigitalocean.com/DB_MOVEMENT?tls=true&authSource=admin&replicaSet=db-mongodb-and",
   "DB_MONGO_URI":"${db_mongo_uri}",
   "DB_MONGO_DATABASE_MOVEMENT":"DB_MOVEMENT",
   "KAFKA_SERVER":"${droplet_ipv4_address}:9092",
   "SEQ_URL":"http://${droplet_ipv4_address}:5341",
   "SEQ_TOKEN":"CRMmKZefHArWpiO9qAMj",
   "ZIPKIN_ENDPOINT":"http://${droplet_ipv4_address}:9411"
}