{
   "SERVER_PORT_SECURITY":5001,
   "SERVER_PORT_INVOICE":5002,
   "SERVER_PORT_PAY":5003,
   "SERVER_PORT_MOVEMENT":5004,
   "NODE_ENV":"development",
   "TOKEN_SECRET":"KeySecret#123Aforo255#255#NodeJSMicro",
   "TOKEN_EXPIRATION":"1d",
   "DB_POSTGRES_USER":"${db_pg_username}",
   "DB_POSTGRES_PASSWORD":"${db_pg_password}",
   "DB_POSTGRES_DATABASE_INVOICE":"DB_INVOICE",
   "DB_POSTGRES_HOST":"${db_pg_host}",
   "DB_POSTGRES_PORT":${db_pg_port},
   "DB_POSTGRES_REJECTUNAUTHORIZED":false,
   "DB_POSTGRES_DIALECT":"postgres",
   "DB_MYSQL_USER":"${db_mysql_username}",
   "DB_MYSQL_PASSWORD":"${db_mysql_password}",
   "DB_MYSQL_DATABASE_OPERATION":"DB_OPERATION",
   "DB_MYSQL_DATABASE_SECURITY":"DB_SECURITY",
   "DB_MYSQL_HOST":"${db_mysql_host}",
   "DB_MYSQL_PORT":${db_mysql_port},
   "DB_MONGO_URI":"mongodb+srv://${db_mongo_username}:${db_mongo_password}@${db_mongo_host}/DB_MOVEMENT?tls=true&authSource=admin&replicaSet=${db_mongo_cluster}",
   "DB_MONGO_URI":"${db_mongo_uri}",
   "DB_MONGO_DATABASE_MOVEMENT":"DB_MOVEMENT",
   "KAFKA_SERVER":"${droplet_ipv4_address}:9092",
   "SEQ_URL":"http://${droplet_ipv4_address}:5341",
   "SEQ_TOKEN":"CRMmKZefHArWpiO9qAMj",
   "ZIPKIN_ENDPOINT":"http://${droplet_ipv4_address}:9411"
}