cat KEY-FILE | docker login -u ${key_type} --password-stdin https://${location}-docker.pkg.dev
echo "${service_account_key}" | docker login -u ${key_type} --password-stdin https://${location}-docker.pkg.dev